In [2]:
from pathlib import Path

import pandas as pd
from sklearn.model_selection import train_test_split
from torch.utils.data import Dataset, DataLoader
from easydict import EasyDict
import torch

import numpy as np

np.random.seed(0)

In [ ]:
# Global config of dataset, not tunable parameters
config = EasyDict(
    dataset_path=Path("../data"),
    val_size=0.2,
)

In [ ]:

class CellDataset(Dataset):
    def __init__(self, cfg: EasyDict, mode: str):
        assert mode == 'train' or mode == 'test'
        self.image_folder = cfg.dataset_path / "train"

        data_csv = pd.read_csv(cfg.dataset_path / "train.csv")
        data_csv = data_csv[['id', 'annotation', 'cell_type']]
        data_csv = data_csv.groupby(['id', 'cell_type'])['annotation'].agg(lambda x: list(x)).reset_index()

        # Now data_csv has 606 rows with 3 columns:
        # - id - id of image,
        # - cell_type - type of cell,
        # - annotation - list of rle strings
        if mode == 'train':
            self.data_csv, _ = train_test_split(data_csv, test_size=cfg.val_size, random_state=0)

        else:
            _, self.data_csv = train_test_split(data_csv, test_size=cfg.val_size, random_state=0)

In [12]:

temp_df

               id cell_type                                         annotation
0    0030fd0e6378    shsy5y  [118145 6 118849 7 119553 8 120257 8 120961 9 ...
1    0140b3c8f445     astro  [32499 3 33201 7 33902 9 34604 10 35306 11 360...
2    01ae5a43a2ab      cort  [241026 3 241726 9 242427 13 243130 14 243834 ...
3    026b3c2c4b32      cort  [170753 5 171454 12 172158 13 172862 13 173565...
4    029e5b3b89c7      cort  [139142 7 139845 10 140548 13 141251 15 141955...
..            ...       ...                                                ...
601  fd98d82784a1     astro  [335979 1 336681 3 337385 3 338088 3 338792 3 ...
602  fe33dfcf4ebd     astro  [165826 7 166526 14 167199 45 167901 46 168603...
603  fe3e30f849f4    shsy5y  [343210 3 343912 4 344610 9 345312 10 346014 1...
604  ffc2ead3e8cc     astro  [252827 1 253531 3 254235 5 254940 5 255644 7 ...
605  ffdb3cc02eef      cort  [96707 4 97406 10 98110 11 98814 11 99517 12 1...

[606 rows x 3 columns]